<md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="100">
          <div layout="column" layout-gt-md="row" class="inset">
            <div flex-gt-md="100">
              <h3>Todos</h3>
              <template let-item ngFor [ngForOf]="todos">
              <td-expansion-panel label="{{item.name}}" sublabel="{{item.description}}" [expand]="item.isNew">
                <td-expansion-summary *ngIf="isDueToday(item)">
                  <md-list>
                    <md-list-item>
                      <md-icon md-list-avatar>access_alarm</md-icon>
                      <h3 md-line>Reminder</h3>
                      <h4 md-line>Due Today</h4>
                    </md-list-item>
                  </md-list>
                </td-expansion-summary>
                <td-expansion-summary *ngIf="isOverdue(item)">
                  <md-list>
                    <md-list-item>
                      <md-icon md-list-avatar>warning</md-icon>
                      <h3 md-line>Reminder</h3>
                      <h4 md-line>Overdue</h4>
                    </md-list-item>
                  </md-list>
                </td-expansion-summary>
                <td-expansion-summary *ngIf="isDueLater(item)">
                  <md-list>
                    <md-list-item>
                      <md-icon md-list-avatar>access_time</md-icon>
                      <h3 md-line>Reminder</h3>
                      <h4 md-line>2 days to go</h4>
                    </md-list-item>
                  </md-list>
                </td-expansion-summary>
                <md-card>
                  <md-card-content>
                      <md-input placeholder="Name" maxLength="20" [(ngModel)]="item.name"></md-input>
                        <md-input placeholder="Description" maxLength="100" [(ngModel)]="item.description"></md-input>
                        <label class="md-input-placeholder md-float" for="due-date" style="color: rgba(0, 0, 0, 0.38); position:absolute; font-size: 11px;">Due On
                        </label>
                        <input id="due-date" type="date" name="due_on" class="dateStyle" [(ngModel)]="item.dueDate"/>
                        <br/>
                          <md-button md-raised-button class="md-primary">Mark as done</md-button>
                          <md-button md-raised-button>delete</md-button>
                  </md-card-content>
                </md-card>
              </td-expansion-panel>
              </template>
              <br/>
              <button md-mini-fab class="md-primary" (click)="addNewTodo()">
                  <md-icon>add</md-icon>
                </button>
            </div>
          </div>
      </div>
    </div>
     <div class="md-padding">
    <br/>
    <div layout="row" layout-align="start center" layout-padding>
      <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux footerImage" svgSrc="assets/icons/teradata-ux.svg" ></md-icon>
    </div>
  </div>
</md-content>
