<td-layout #layout title="Covalent" logo="assets/icons/teradata.svg" displayName={{greetMessage}} (logout)="logout()">
  <menu-items>
    <a *ngFor="let item of routes" md-list-item [routerLink]="[item.route]" (click)="layout.close()">
        <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
    <md-divider></md-divider>
  </menu-items>
  <router-outlet></router-outlet>
  <td-layout-nav title="ToDo Application" logo="assets/icons/teradata.svg">
    <td-layout-manage-list #list title="Toolbar Title" logo="path/to/toolbar-logo.svg">
      <list-items>
        <a md-list-item [routerLink]="['.']">
          <md-icon md-list-avatar>format_list_numbered</md-icon>
          Genral ToDo List
        </a>
      </list-items>
      <list-items>
        <a md-list-item [routerLink]="['grocery']">
          <md-icon md-list-avatar>format_list_numbered</md-icon>
          Grocery ToDo List
        </a>
      </list-items>
      <toolbar-buttons layout="row" layout-align="start center" flex>
        <span flex></span>
        <button md-button class="md-icon-button">
          <md-icon class="md-24">add</md-icon>
        </button>
        <button md-button class="md-icon-button">
          <md-icon class="md-24">delete</md-icon>
        </button>
      </toolbar-buttons>
      <router-outlet></router-outlet>
    </td-layout-manage-list>
  </td-layout-nav>
</td-layout>
