.drop-zone {
  border: 2px dotted whitesmoke;
  background-color: red;
  opacity: 0.5;
}

.header-margin { 
  margin-bottom: 0px;
}

.para-margin { 
  margin-top: 0px;
}

.doc-padding { 
  padding: 10px;
}