
.dateStyle {
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #999;
    position: absolute;
    margin-top: 15px;
}


.footerImage {
    width: 165px;
    margin-left: -130px;
}